/* Write your CSS here */

.main-container {
  background-color: #ffd569;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  border-radius: 16px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  max-width: 1110px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    padding-top: 96px;
    padding-left: 64px;
    padding-bottom: 96px;
    padding-right: 64px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.main-heading {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 48px;
  }
}
.span-element {
  color: #ffd569;
}

.fruits-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .fruits-container {
    flex-direction: row;
  }
}

.fruit {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .fruit {
    margin-top: 96px;
    margin-left: 48px;
    margin-right: 48px;
  }
}
.fruit-image {
  height: 175px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .fruit-image {
    height: 275px;
    width: 296px;
  }
}
.fruit-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .fruit-button {
    font-size: 16px;
  }
}

.btn-contain {
  text-align: center;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .btn-contain {
    margin-top: 48px;
  }
}
